<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="../modules/unittest/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./classes</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../coverage" title="Coverage" charset="UTF-8" yui="true"
             highlight="true"/>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
    </logging>

</phpunit>
