/vendor
/.idea
/application/logs
/application/cache
/default
/.vagrant
/coverage/

/application/tests/Functional/Browser/parameters.js
/application/config/database.php
/application/config/testing/database.php
